---
import Fade from "../components/Fade.astro";
import TabNav from "../components/TabNav.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="TM.OX - Sent">
  <p class="section-title">TM.OX</p>
  <div class="sm:-mt-2">
    <TabNav />
    <div class="flex items-center min-h-screen">
      <Fade origin="sm:origin-top-left">
        <div class="flex flex-row">
          <h1>salah..</h1>
          <h2>nothing here</h2>
        </div>
        <a href="/">BACK</a>
      </Fade>
    </div>
  </div>
</Layout>
