---
import BaseLayout from "../layouts/BaseLayout.astro";
import * as home from "../content/pages/home.md";
import { Content as Home } from "../content/pages/home.md";
import { Image } from "astro:assets";
import { getCollection } from "astro:content";

const work = await getCollection("work");
work.sort((a, b) => Date.parse(a.data.order) - Date.parse(b.data.order));
---

<BaseLayout title={home.frontmatter.title}>
	<section id="home">
		<Home />
	</section>
	<section id="work">
		<article>
			{
				work.map((work) => (
					<a href={`/work/${work.slug}`} class="col-span-2">
						<Image
							src={work.data.cover.src}
							alt={work.data.cover.alt}
						/>
					</a>
				))
			}
		</article>
	</section>
	<section id="contact"></section>
</BaseLayout>
