<div
    x-data
    class="w-full h-full opacity-0 duration-[1250ms]"
    x-intersect:enter="$el.classList.add('opacity-100')"
    x-intersect:leave="$el.classList.remove('opacity-100')"
>
    <slot />
</div>
