---
import { getEntry } from "astro:content";
import { Image } from "astro:assets";

const page = await getEntry("pages", "index");
---

<p class="mr-1 text-xs w-fit">Made with:</p>
{
  page.data.tools.flatMap((tools: any) => (
    <a href={tools.link} target="_blank" class="flex justify-center w-fit">
      <Image
        src={tools.icon}
        alt={tools.name}
        class="h-2.5 rounded-none my-auto w-auto mr-2"
      />
      <p class="mr-1 text-xs">{tools.name}</p>
    </a>
  ))
}
