---
import { getEntry } from "astro:content";
import { Image } from "astro:assets";

const page = await getEntry("pages", "home");
---

<div
  class="flex flex-wrap items-center justify-center w-screen pt-2 pb-1 bg-gradient-to-b from-background via-secondary to-secondary gap-1"
>
  <p class="text-xs w-fit mr-1">Made with:</p>
  {
    page.data.tools.flatMap((tools: any) => (
      <a href={tools.link} target="_blank" class="flex justify-center w-fit">
        <Image
          src={tools.icon}
          alt={tools.name}
          class="h-2.5 rounded-none my-auto w-auto mr-2"
        />
        <p class="text-xs mr-1">{tools.name}</p>
      </a>
    ))
  }
</div>
