---
import BaseHead from "../components/BaseHead.astro";
const { title } = Astro.props;
import Fade from "../components/Fade.astro";
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <BaseHead title={title} />
    </head>
    <body>
        <Fade>
            <main>
                <slot />
            </main>
        </Fade>
    </body>
</html>
